.calendar_div, input, select, textarea, button { font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif; color:#333; }
/* calendar widget */

/* Main Style Sheet for jQuery Calendar */
input.calendarInput {
	background: #fff url(../images/icon_date_picker_input.gif) right 50% no-repeat;
	width: 20em;
}
.calendar_div, .calendar_inline {
	background: #fff;
	font-size: 1em;
	padding: 1em;
	margin: 0;
	height: 18em;
}
.calendar_div {
	display: none;
	border: 1px solid #ddd;
	position: relative;
	z-index: 999999; /*must have*/ 
	top: 0;
}
.calendar_div, .calendar_control, .calendar_links, .calendar_header, .calendar {
	width: 16.2em;
}
.calendar_inline {
	display: block;
	border: 0;
}
.calendar_dialog {
	padding: .5em !important;

}
button.calendar_trigger {
	width: 2.5em;
}
img.calendar_trigger {
	margin: .2em;
	vertical-align: middle;
}
.calendar_prompt {
	float: left;
	width: 18.1em;
	padding: .2em;
	background: #ddd;
	color: #000;
}
* html .calendar_prompt {
	width: 18.4em;
}
.calendar_control, .calendar_links, .calendar_header, .calendar {
	clear: both;

	color: #666;
}
.calendar_control {
	background: #400;
}
.calendar_links {
	
}
.calendar_control, .calendar_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: .1em;
}
.calendar_links label { /* disabled links */
	padding: .2em .5em;

}
.calendar_clear, .calendar_prev {
	float: left;
}
.calendar_current {
	display: none;
}

.calendar_prev, .calendar_next {
	width: 16px;
	height: 20px;
	background: url(../images/btn_month_select_prev.gif) 0 0 no-repeat;
	text-indent: -9000px;
	font-size: 1px;
	float: left;
	
}
.calendar_next {
	background: #fff url(../images/btn_month_select_next.gif) 0 0 no-repeat;
	float: right;
}
.calendar_prev:hover, .calendar_next:hover {
	background-position: 0 -20px;
}
.calendar_header {
	position: relative;
	height: 2.6em;
}
.calendar_header select {
	background: #eee;
	color: #444;
	border: 0;
	font-weight: bold;
}

.calendar {
	background: none;
	text-align: center;
	font-size: 100%;
}
.calendar a {
	display: block;

}
.calendar thead {
	padding: .6em 0 !important;
	background: none;
}
.calendar tbody {
	width: 16.2em;
	border-collapse: collapse;
	text-align: right;
}
.calendar tbody td {
	padding: .3em;
	text-align: right;
}
.calendar .calendar_titleRow {
	background: #ddd url(../images/bg_date_picker_thead.gif) top repeat-x;
}
.calendar .calendar_titleRow td {
	padding: .4em 0;
	font-size: .9em;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.calendar .calendar_daysRow {
	background: none;

}
.calendar .calendar_daysCell {

	padding: .4em;
}
#calendar .calendar_daysCell a{
	display: block;
}
.calendar .calendar_weekEndCell {

}
.calendar .calendar_daysCellOver {
	background: #ddd !important;
}
.calendar .calendar_daysCellOver a {
color: #333 !important;
}
.calendar .calendar_unselectable {
	color: #ddd;
}
.calendar td.calendar_today {
background: #ddd !important;
}
.calendar td.calendar_currentDay {
	background: #eee !important;
}

.calendar td.currentSelection {
	background: #4e92c8 !important;
}
.calendar td.currentSelection a {
	color: #fff !important;
}


/* ________ CALENDAR LINKS _______

** Reset link properties and then override them with !important */
.calendar_div a, .calendar_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	color: #666;
}
.calendar_inline .calendar_links a {
	padding: 0 .5em !important;
}
.calendar_control a, .calendar_links a {
	padding: .2em .5em !important;
	color: #eee !important;
}
.calendar_titleRow a {
	color: #c3c3c3 !important;
}
.calendar_control a:hover {
	color: #333 !important;
}
.calendar_links a:hover, .calendar_titleRow a:hover {
	color: #444 !important;
}

/* ___________ IE6 IFRAME FIX ________ */

.calendar_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 193px; /*must have to match width and borders*/
    height: 200px; /*must have to match maximum height*/ 
}





/*custom*/
.calendar_control,
.calendar_current {
	display: none;
}

div.monthYearContain {
	position: absolute;
	top: 0;
	left: 1.6em;
}
div.monthYearContain h2 {
	cursor: pointer;
	color: #444 !important;
	margin: 0;
	text-align: center;
	font-size: 1em;
	background: url(../images/bg_date_picker_select_rt.gif) right top no-repeat;
	left: 0;
	position: absolute;
	top: 0;
	width: 11em !important;
	padding: 0 2em 0 0 !important;
	font-weight: bold;
}
div.monthYearContain h2 span {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 1.1em;
	position: relative;
	z-index: 1000;
	padding: 0 !important;
	background: url(../images/bg_date_picker_select.gif) left top no-repeat;
}
div.monthYearContain h2:hover {
	background-position: right -20px;
	color: #fff;
}
div.monthYearContain h2:hover span {
	background-position: 0 -20px;
}
div.monthYearContain.display h2 {
	background-position: right -40px;
}
div.monthYearContain.display h2 span {
	background-position: 0 -40px;
}
div.menu_contain {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	top: 20px;
	left: 0;
	background: url(../images/bg_date_picker_select_menu.gif) bottom left no-repeat;
	opacity: .9;
	padding: 0;
	border-right: 1px solid #d9d9d9;
}
div.monthYearContain.display div.menu_contain {
	height: 19em;
	width: 12.9em;
	overflow: hidden;
}
div.menu_pad {
	height: 31em;
	padding-top: .2em;
	background: url(../images/bg_date_picker_select_menu_topDivide.gif) top left no-repeat;
}
.calendar_monthYear {
	height: 18em;
	width: 12.6em;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: .5em 0;
	text-align: left;
	padding: .4em .2em .4em 0;
}
div.monthYearContain.display .calendar_monthYear {
overflow: auto;
}
.calendar_div .calendar_monthYear li {
	cursor: pointer;
	color: #444;
	line-height: 2em;
	margin: 0;
	padding: 0 .5em;
	margin-left: .2em;
	font-size: 1em;
	font-weight: bold;
	width: 87% !important;
}
.calendar_div .calendar_monthYear li.selected {
	background: #4e92c8;
	color: #fff;
}
.calendar_div .calendar_monthYear li:hover {
	background: #4e92c8;
	color: #fff;
}
div.monthYearContain.display .calendar_monthYear {
	height: 18em;
	overflow: auto;
}
div.monthYearContain.display .calendar_monthYear.display li {
	text-align: left;
}
div.dateRange_contain {
	position: absolute;
	top: 19px;
	left: 16px;
	right: auto;
	width: 20em;
	height: 0;
	z-index: 99999999;
}
div.rangePicker div.dateRange {
	position: absolute;
	top: 0 !important;
	background: #f9f9f9;
	border: 1px solid #ddd;
	left: 0;
}
div.dateRange ul.dateRange_presets {
	margin: 0;
	padding: 1em .2em 0 .2em;
	list-style: none;
	background: #f9f9f9;
	width: 13em;
	float: left;
	margin-top: -1px;
}
div.dateRange_wide ul.dateRange_presets {
	width: 194px;
}
div.dateRange ul.dateRange_presets li {
	position: relative;
	padding: 0;
		margin: 0;
		height: 2em;	
}
div.dateRange ul.dateRange_presets li a {
		position: absolute;
		color: #333;
		display: block;
		text-decoration: none;
		padding: 0 .5em;
		line-height: 2em;
		height: 2em;
		width: 13em;
		outline: 0 !important;
}
div.dateRange ul.dateRange_presets li.dateRange_allDates {
margin-bottom: .5em;
padding-bottom: .5em;
border-bottom: 1px dotted #eee;
}
div.dateRange_wide ul.dateRange_presets li a {
		width: 18em;
}
div.dateRange ul.dateRange_presets li a:hover {
	color: #fff;
	background: #4e92c8;
}

div.dateRange ul.dateRange_presets li.dateRange_on a {
	color: #4e92c8;
	background: #fff url(../images/icon_arrow_right.gif) right no-repeat;
	width: 14.5em;
}
div.dateRange_wide ul.dateRange_presets li.dateRange_on a {
	width: 19.4em;
}
div.dateRange div.calendar_div {
	position: absolute;
	left: 17em;
	top: 4.2em;
}
div.dateRange_wide div.calendar_div {
	left: 22.3em;
}
div.position2 {
	left: 37.5em;
}
div.dateRange_wide div.position2 {
	left: 41.5em;
}
div.dateRange h2.selectDate {
	color: #666 !important;;
	font-size: 1.4em;
	position: absolute;
	left: 12.5em;
	top: 1em;
	text-align: left;
	display: none;
}
div.dateRange_wide h2.selectDate {
	left: 16em;
	top: 0;
	color: #666;
}
a.dateRange_close {
	color: #666;
	font-size: 1.1em;
	position: absolute;
	top: 1em;
	text-align: center;
	display: block;
	padding: .3em 1em .5em;
	background: #fff;
	text-decoration: none;
	border: 1px solid #ddd;
	display: none;
	width: auto;
	right: .5em;
}
a.dateRange_close:hover {
	color: #444;
	border-color: #ccc;
	background: #eee;
}

div.rangePicker {
	position:relative;
	/*width: 30em;*/
}
div.rangePickerWithLabel {
	float: right;
	margin-right: 31px;	
}
a.range_prev, a.range_next {
	float: left;
	width: 16px;
	height: 20px;
	overflow:hidden;
	text-indent:-9999px; 
	outline: 0 !important;
}

a.range_prev {
	 background: url(../images/icon_date_picker_input.gif) 0 0 no-repeat;
}
a.range_next {
	/*background: url(../images/btn_month_select_next.gif) 0 0 no-repeat;*/
}
a.range_next:hover {
	background-position: 0 -20px;
}
a.rangeDisplay {
	float: left;
	width: 20em; 
	background: url(../images/bg_date_picker_select_rt.gif) right top no-repeat;
	text-decoration: none;
	color: #444 !important;
	outline: 0 !important;
}
a.rangeDisplay:hover {
background-position: right -20px;
}
a.rangeDisplay_on, a.rangeDisplay_on:hover {
	background-position: right -40px;
	color: #111 !important;
}
#publishTimeOfDay a.rangeDisplay {
	width: 15em;
}
#publishTimeOfDay div.dateRange_contain {
 left: 0;
}
a.rangeDisplay span {
	display: block;
	margin-right: 20px;
	height: 20px;
	line-height: 2em;
	padding-left: 10px !important;
	background: url(../images/bg_date_picker_select.gif) left top no-repeat;
}
a.rangeDisplay:hover span {
background-position: 0 -20px;
}
a.rangeDisplay_on span, a.rangeDisplay_on:hover span {
	background-position: 0 -40px;
}









