<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<base href="http://wpver.com/" />
		<title>Golden VIP: Profile</title>
		<link rel="stylesheet" type="text/css" href="typo3temp/stylesheet_e5228382d7.css?1303114046" media="all" />
		<script src="typo3temp/javascript_b9328db19d.js?1295829716" type="text/javascript"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="fileadmin/templates/currTheme/html/css/admin-hotel.css" type="text/css">
		<link rel="stylesheet" href="fileadmin/templates/currTheme/html/css/style-nav.css" type="text/css" />
	</head>

</html>